.swiper {
    width: 150px;
    height: 250px;
}

@media screen and (min-width: 330px) {
    .swiper {
        width: 200px;
        height: 300px;
    }
}

@media screen and (min-width: 540px) {
    .swiper {
        width: 280px;
        height: 360px;
    }
}

@media screen and (min-width: 767px) {
    .swiper {
        width: 320px;
        height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .swiper {
        width: 380px;
        height: 460px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper {
        width: 440px;
        height: 520px;
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-button-prev {
    display: none;
}

@media screen and (min-width: 767px) {
    .swiper-button-prev {
        color: var(--ACCENT-COLOR);
        left: -30%;
        display: block;
    }
}

.swiper-button-next {
    display: none;
}

@media screen and (min-width: 767px) {
    .swiper-button-next {
        color: var(--ACCENT-COLOR);
        right: -30%;
        display: block;
    }
}

.swiper-slide {
    background: var(--2);
}