.cost__head-block {
    /* background: var(--SECONDARY-COLOR); */

    background: rgba(255, 255, 255, 0.72);
    /* border-radius: 7px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.cost-block {
    padding: 65px 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .cost-block {
        padding: 100px 20px;
    }
}

.cost__wrapper {
    width: 80%;
    
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(217, 193, 171, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(217, 193, 171, 0.3);
}

.cost__btn-block {
    margin: 0 0 20px;
}

@media screen and (min-width: 992px) {
    .cost__btn-block {
        margin: 0 0 30px;
    }
}

.cost__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cost__text-price {
    font-family: 'Oranienbaum', serif;
    font-size: 28px;
}

@media screen and (min-width: 767px) {
    .cost__text-price {
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .cost__text-price {
        font-size: 36px;
    }
}

.cost__price {
    margin: 0 0 10px;
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (min-width: 767px) {
    .cost__price {
        font-size: 34px;
    }
}

@media screen and (min-width: 1200px) {
    .cost__price {
        font-size: 40px;
    }
}


.my__btn-blink {
    border: none;
    /* color: var(--COLOR-BG-SECTION-LIGHT); */
    /* background-image: linear-gradient(30deg, #53453b, #746153, #958579); */
    background: var(--COLOR-BTN);
    border-radius: 0.75rem;
    background-size: 100% auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.7em 1.5em;
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #958579;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}