.envelope {
    position: relative;
}

.envelope__head-block {
    /* background: var(--MAIN-COLOR); */

    /* background: rgba(217, 193, 171, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */

    /* background: var(--2); */
}

.envelope__content-block {
    padding: 55px 20px 25px;
}

@media screen and (min-width: 767px) {
    .envelope__content-block {
        padding: 85px 20px 25px;
    }
}

@media screen and (min-width: 992px) {
    .envelope__content-block {
        padding: 120px 20px 80px;
    }
}

.envelope__up-block {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .envelope__up-block {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

.envelope__up-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 540px) {
    .envelope__up-text-block {
        flex-direction: row;
        align-items: center;
        padding: 10px 10px 0;

        background: rgba(255, 255, 255, 0.72);
        border-radius: 7px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media screen and (min-width: 540px) {
    .envelope__up-text-block {
        padding: 10px 20px 0;
    }
}

@media screen and (min-width: 992px) {
    .envelope__up-text-block {
        padding: 16px 20px 0 40px;
    }
}

.envelope__up-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (min-width: 540px) {
    .envelope__up-img {
        margin: 0 10px 0 0;
    }
}

@media screen and (min-width: 992px) {
    .envelope__up-img {
        margin: 0 20px 0 0;
    }
}

.envelope__up-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    margin: 10px 0 0;

    padding: 30px 20px 10px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 540px) {
    .envelope__up-text-wrapper {
        padding: 0;
        margin: 0;
        background: none;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
    }
}

.envelope__up-text {
    font-size: 14px;
}

@media screen and (min-width: 540px) {
    .envelope__up-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    .envelope__up-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .envelope__down-text {
        font-size: 20px;
    }
}

.envelope__up-text span {
    font-weight: bold;
}

.envelope__up-mail-block {
    margin: 15px;

    position: absolute;
    left: 3%;
    top: 10%;

    display: flex;
    align-items: center;
}

@media screen and (min-width: 540px) {
    .envelope__up-mail-block {
       display: none;
    }
}

@media screen and (min-width: 992px) {
    .envelope__up-mail-block {
        display: block;

        border-radius: 50%;
        padding: 12px;
        margin: 15px 25px 15px 0px;

        position: relative;

        display: flex;
        align-items: center;

        background: rgba(255, 255, 255, 0.72);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.envelope__down-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 10px;
    margin: 25px 0 0;

    background: rgba(255, 255, 255, 0.72);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 540px) {
    .envelope__down-block {
        padding: 30px 20px 10px;
    }
}

@media screen and (min-width: 992px) {
    .envelope__down-block {
        margin: 40px 0 0;
        padding: 50px 40px 25px;
    }
}

.envelope__down-text span {
    color: var(--SECONDARY-COLOR);
    text-transform: uppercase;
}