.header-oferta-desctop__head-block {
    display: none;
}

.header-oferta__head-nav-block {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    position: fixed;
    z-index: 100;
    width: 100%;
    transition: all .3s ease-in-out;
}

.navbar_scrolled {
    position: fixed;
    z-index: 100;
    opacity: .9;
}

.header-oferta__menu-block {
    padding: 5px;
}

.header-oferta__burgermenu-blocks {
    padding: 5px 20px;
}

.header-oferta__logo-block {
    display: flex;
    justify-content: start;
}

.header-oferta__logo {
    height: 55px;
}

.header-oferta-desctop__logo {
    width: 80px;
    height: 80px;
}

.header-oferta__head-nav-menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-oferta__burger-menu-icon-block {
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 12px 8px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.header-oferta__burger-menu-icon-block::before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    height: 2px;
    width: 25px;
    background-color: var(--ACCENT-COLOR);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.header-oferta__burger-menu-line {
    position: absolute;
    right: 0;
    height: 2px;
    width: 25px;
    background-color: var(--ACCENT-COLOR);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.header-oferta__burger-menu-icon-block::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    height: 2px;
    width: 25px;
    background-color: var(--ACCENT-COLOR);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.header-oferta__burger-menu-icon-block.active .header__burger-menu-line {
    transform: scale(0);
}

.header-oferta__burger-menu-icon-block.active::before {
    top: 20%;
    transform: rotate(-48deg);
}

.header-oferta__burger-menu-icon-block.active::after {
    bottom: 25%;
    transform: rotate(47deg);
}

.header-oferta__head-menu-block {
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 100%;
    transform: translateY(-150%);
    transition: all .7s ease-in-out;
    padding-top: 110px;
}

.menu__down {
    transform: translateY(0);
    transition: all .7s ease;
    z-index: 50;
    opacity: .9;
}

.header-oferta__burgermenu-title,
.header-oferta__burgermenu-title-main {
    text-decoration: none;
    color: var(--ACCENT-COLOR);
    font-size: 18px;
    transition: color 0.3s ease;
}

.header-oferta__burgermenu-title:hover,
.header-oferta__burgermenu-title-main:hover {
    color: var(--SECONDARY-COLOR);
}

.header-oferta__burgermenu-blocks {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-oferta__burgermenu-ul-blocks {
    padding: 20px 0 0;
}

.header-oferta__burgermenu-title-block {
    list-style: none;
    padding: 0 0 10px;
}

.header-oferta__head-burger-menu-icon-block {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {

    .header-oferta-mobile__head-block {
        display: none;
    }

    .header-oferta-desctop__menu-block {
        align-items: center;
    }

    .header-oferta-desctop__head-nav-menu-block {
        display: flex;
        align-items: center;
    }

    .header-oferta-desctop__head-nav-block {
        width: 100%;
    }

    .header-oferta-desctop__head-block {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        display: flex;
        z-index: 100;
        width: 100%;
        transition: all .3s ease-in-out;
    }

    @keyframes fadeInUp {
        0% {
            height: 0;
        }

        50% {
            height: 120px;
        }

        100% {
            height: 100px;
        }
    }

    #navbar-desctop.navbar_scrolled {
        position: fixed;
        animation: fadeInUp 1s forwards;

        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .header-oferta-desctop__menu-block {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }

    .header-oferta-desctop__burgermenu-blocks {
        display: flex;
        justify-content: space-between;
    }

    .header-oferta-oferta__logo-block {
        align-items: center;
    }

    .header-oferta-desctop__logo {
        width: 180px;
    }

    .header-oferta__burger-menu-icon-block {
        display: none;
    }

    .header-oferta-desctop__burgermenu-ul-blocks {
        display: flex;
        gap: 20px;
        margin-bottom: 0;
    }

    .header-oferta-desctop__burgermenu-blocks {
        display: flex;
        /* padding: 15px 0 4px; */
    }

    .header-oferta-desctop__burgermenu-title-block {
        display: flex;
        text-align: center;
    }

    .header-oferta-desctop__burgermenu-blocks {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {

    .header-oferta-desctop__burgermenu-ul-blocks {
        gap: 25px;
    }
}

@media screen and (min-width: 1400px) {
    .header-oferta-desctop__menu-block {
        padding: 10px 40px;
    }
}

.oferta {
    margin-top: 65px;
}

.oferta__head-block {
    padding: 45px 20px;
}

.oferta__head-block {
    text-align: justify;
}

@media screen and (min-width: 992px) {
    .oferta {
        margin-top: 0;
    }

    .oferta__head-block {
        padding: 45px 40px;
    }

}