.paradigm__head-block {
    background: rgba(255, 255, 255, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.paradigm__content-wrapper {
    padding: 80px 20px 50px;
}

.paradigm__content-up-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--ACCENT-COLOR);
    border-top: 1px solid var(--ACCENT-COLOR);
}

.paradigm__content-up-title {
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Oranienbaum', serif;
    font-weight: bold;
}

.paradigm__content-up-text-block {
    text-align: start;
}

.paradigm__content-up-text {
    margin: 0;
}

.paradigm__content-up-text span {
    color: var(--ACCENT-COLOR-SEC);
}


.paradigm__content-block {
    margin: 20px 0 0;
    width: 100%;
}

.paradigm__content-title-down-block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 15px 0 0;
}

.paradigm__content-title-down {
    font-size: 26px;
    font-family: 'Oranienbaum', serif;
    text-transform: uppercase;
}

.paradigm__content-img-block {
    display: none;
}

.paradigm__content {
    margin: 0 0 50px;
}

@media screen and (min-width: 767px) {
    .paradigm__content-up-title {
        font-size: 36px;
    }

    .paradigm__content-title-down {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {
    .paradigm__content-wrapper {
        padding: 100px 20px 70px;
    }

    .paradigm__content-up-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid var(--ACCENT-COLOR);
        border-top: 1px solid var(--ACCENT-COLOR);
    }

    .paradigm__content-up-title {
        font-size: 44px;
        text-align: start;
    }

    .paradigm__content-up-text-block {
        margin: 0 0 0 45px;
    }

    .paradigm__content-block {
        margin: 50px 0 0;
        width: 50%;
    }

    .paradigm__content-title-down {
        font-size: 34px;
    }

    .paradigm__content-block-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .paradigm__content-img-block {
        display: block;
        width: 49%;
    }
}

@media screen and (min-width: 1200px) {
    .paradigm__content-wrapper {
        font-size: 20px;
    }

    .paradigm__content {
        margin: 0 0 70px;
    }
}