.testimonials__head-block {
    padding: 100px 10px;
}

.testimonials__slide-img {
    border-radius: 20px;
}

@media screen and (min-width: 767px) {
    .testimonials__head-block {
        padding: 100px 20px;
    }
}