.topics {
    background: rgba(255, 255, 255, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.topics__content-head-block {
    padding: 65px 20px 40px;
}

.topics__content-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics__content-title {
    font-family: 'Oranienbaum', serif;
    font-size: 38px;
}

.topics__content-down-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
}

.topics__content-down-inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 15px;
}


.topics__content-down-inner-title {
    font-family: 'Oranienbaum', serif;
    font-size: 38px;
}

.topics__content-down-inner-text {
    font-size: 18px;
}

@media screen and (min-width: 767px) {
    .topics__content-title {
        font-size: 40px;
    }

    .topics__content-down-inner-title {
        font-size: 48px;
    }

    .topics__content-down-inner-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .topics__content-head-block {
        padding: 100px 20px;
    }

    .topics__content-title {
        font-size: 60px;
    }

    .topics__content-down-inner-title {
        font-size: 60px;
    }

    .topics__content-down-inner-text {
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) {

    .topics__content-head-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .topics__content-down-text-block {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .topics__content-down-inner-block {
        align-items: flex-start;
        margin: 0;
    }

    .topics__content-down-inner-text {
        text-align: start;
    }
}